<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <h1 class="text-center" class='cut-text'>People</h1>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Salutation</th>
        <th>Firstname</th>
        <th>Middlename</th>
        <th>Lastname</th>
        <th>Ssn</th>
        <th>Date of birth</th>
        <th>Comment</th>
        <th colspan="3"></th>
      </tr>
    </thead>

   <tbody>
      <% @people.each do |person| %>
        <%= render 'person', person: person %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

