<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Saluation</th>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>SSN</th>
      <th>Date of birth</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @people.each do |person| %>
      <%= render 'person', person: person %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
