@import "custom";
@import "~bootstrap/scss/bootstrap"; // never forget the semicolon at the end
@import "stylesheets/home";

.h1 {
    display: flex;
    text-emphasis-color: red;
  }

  tbody {
    vertical-align: inherit;
  }