<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>Town</th>
      <th>Zipcode</th>
      <th>State</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @person.addresses.each do |address| %>
      <%= render 'addresses/address', address: address %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_person_address_path(@person) %>
